*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body,html{
 
}

@media(max-width:480px){
    
 .main{
    background-color: #e4e4e4;
   
   
   
   
    .container-1{
        background-color:#ffffff;
        //  width: 100%;
        width: 100vw;
         height: 100vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         
        .profile-pic-box{
            width:100vw;
            
            // height:100vh;
            background-color:#f2f2f2;
            padding-top:50px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
           
         
            img{
                
                width: 340PX;
                height: 340px;
                border-radius:100%;
                border: 5px solid white;
                margin-top:40px;
            }
        }
        .box-2{
            width:100%;
            display: flex;
            flex-direction: column;
           justify-content:center;
           align-items: center;
        //   padding:20px 40px 20px 40px;
            h1{
              
                font-family:sans-serif;
                font-size: 24px;
                line-height: 26px;
                font-weight: 700px;
                color:#111111;  
                padding-top:10px;
            }
            p{
                // width: 100vw;
                width:340px;
                font-family:sans-serif;
                font-size: 16px;
                line-height: 26px;
                font-weight: 700px;
                color:#111111;
                
                
               
                
            }
            button{
                background-color: #ffffff;
               
                border: none;
                font-family:sans-serif;
                font-weight: 700px;
                font-size: 16px;
                line-height: 26px;
                font-weight: 700px;
                color:#000000;
                margin-top:10px;
                border-bottom: 3px solid black;
               

            }
            button:hover{
               border: 1px solid blue;
                
            }
        }
        }
        // block 2 starts here
        
            .container-2{
                background-color: #ffffff;
                // width:100vw;
                width: 100%;
                // height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                 padding-top:30px;
                
               
                .block2-box1{
                    background-color: #ffffff;
                    width: 100%;
                    // height: 100vw;
                    margin-top:50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   
                   
                     img{
                        width: 340px;
                        height: 100vw;
                    }
                   
                }
                .block2-box2{
                    // background-color: #e4e4e4;
                    width: 100%;
                    // height: 100vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    
                    //   padding:20px 30px 0 30px;
                  
                    img{
                        width: 340px;
                        height: 100vw;
                       
                    }
                     p{
                       padding:20px;
                       
                    }
                    button{
                        width: 174px;
                        padding:10px;
                        margin:10px 0 20px 0px;
                        font-family: sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 400px;
                        color:#3e3e3e;
                        
                    }
                }
            }  
            // block 3 starts here
            .container-3{
                // width: 100vw;
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .block3-box1{
                    width: 100%;
                    height: 100vh;
                    background-color: #ffffff;
                   
                    display: flex;
                    flex-direction: column;
                 justify-content: flex-end;
                align-items: flex-end;
              
                
                text-align: right;
                
                   
                   p{
                       width:340px;
                       font-size: 72px;
                       line-height: 79px;
                       font-weight: 300px;
                       font-family: sans-serif;
                       color:#111111;
                       padding-top:10px;
                       margin: 20px 20px 0 0;
                   
                      
                      
                   }

                }
           
                .block3-box2{
                    background-color: #ffffff;
                    width: 100%;
                    height: 100vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                   
                   
                    

                    p{
                        width: 340px;
                        // padding:0px 30px 20px 30px;
                        
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 400px;
                        font-family: sans-serif;
                        color:#111111;
                    }
                    button{
                        width: 171px;
                        margin-top:10px;
                        padding:10px;
                        background-color: #db545a;
                        border: none;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 700px;
                        font-family: sans-serif;
                        color:#ffffff;
                       
                        
                    }
                }
            }
           
            // block 4 starts here
        .container-4{
            // width: 100vw;
            width: 100%;
            height: 100vw;
            background-color: #ffffff;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           flex-wrap: wrap;
         
           
           .underline{
               width: 100vw;
              border-bottom: 5px solid black;
             
              
           }
          
           h2{
               width: 340px;
               font-size: 34px;
               line-height: 54px;
               font-style: normal;
               font-weight: 400px;
               font-family: sans-serif;
            //    padding:20px;
               color:#111111;
            }
           img{
               height: 64px;
               width: 64px;
               margin:33px auto 0 auto;
           }
           h5{
            //    width: 100vw;
               font-size: 20px;
               line-height: 24px;
               font-style: normal;
               font-weight: 400px;
               font-family: sans-serif;
               color:#111111;
             text-align: center;
               
           }
        }
        .container-5{
            width: 100vw;
           
            
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .image-container{
                width: 100vw;
                height: 100vw;
               
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                
                img{
                    width: 100%;
                    height: 100vw;
                       
                }
                img:hover{
                   
                   
                    border: 1px solid blue;
                    transition: .7s ease-in-out;
                    opacity: .7;
                    background-color: #db545a;
                   
                }
                
            }
        }
        // block 6 starts here
        .container-6{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
           
            .block6-box1{
                width: 340px;

            }
            h2{
                font-family: sans-serif;
                font-size: 24px;
                font-weight: 700px;
                line-height: 26px;
                font-style: normal;
                color:#111111;
                padding:10px;
            }
            p{
                font-family: sans-serif;
                font-size: 16px;
                font-weight: 400px;
                line-height: 32px;
                font-style: normal;
                color:#111111;
                padding:10px;
            }
            button{
                width: 170px;
                height: 46px;
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 400px;
                line-height: 20px;
                font-style: normal;
                background-color: #db545a;
                color:#ffffff;
                border: none;
            }

            .block6-box2{
                width: 340px;
                font-family: sans-serif;
                font-size: 16px;
                font-weight: 400px;
                line-height: 32px;
                font-style: normal;
                color:#111111;

            }


        }
        .container-7{
            width:100vw;
            height: 318px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image:url(./img/mt.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;


           .text{
            width:340px;
            p{
                font-size: 20px;
                font-weight: 400px;
                font-family: sans-serif;
                line-height: 32px;
                font-style: normal;
                color:#ffffff
            }
           } 
           .social-media{
               width: 320px;
               display: flex;
               flex-direction: row;
               img{
                   width: 50px;
                   height: 50px;
                border-radius: 100%;
                 margin: 10px;
                 background-color: #ffffff;
                
               }
               .social-media:hover{
                   border: 1px solid blue;
                   background-color: red;
               }
              

           }

        }
    }
}

// media queries of tab
@media (min-width:481px) and (max-width:768px){
    .main{
        background-color: #e4e4e4;
       
       
       
       
        .container-1{
            background-color:#ffffff;
             width: 100vw;
           
             
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             
            .profile-pic-box{
                width:100vw;
                
                // height:100vh;
                background-color:#f2f2f2;
                padding-top:50px;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
               
             
                img{
                    
                    width: 340PX;
                    height: 340px;
                    border-radius:100%;
                    border: 5px solid white;
                    margin-top:40px;
                }
            }
            .box-2{
                width:100%;
                display: flex;
                flex-direction: column;
               justify-content:center;
               align-items: center;
             
            //   padding:20px 40px 20px 40px;
                h1{
                 
                  
                    font-family:sans-serif;
                    font-size: 48px;
                    line-height: 53px;
                    font-weight: 700px;
                    color:#111111;  
                    padding-top:10px;
                }
                p{
                    // width: 100vw;
                    width:543px;
                    font-family:sans-serif;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400px;
                    color:#111111;
                    
                    
                   
                    
                }
                button{
                    background-color: #ffffff;
                   
                    border: none;
                    font-family:sans-serif;
                    font-weight: 700px;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 700px;
                    color:#000000;
                    margin-top:20px;
                    border-bottom: 3px solid black;
                   
    
                }
                button:hover{
                   border: 1px solid blue;
                    
                }
            }
            }
            // block 2 starts here
            
                .container-2{
                    background-color: #ffffff;
                   
                    // width:100vw;
                    width: 100%;
                    // height: 100vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    
                     padding-top:30px;
                    
                   
                    .block2-box1{
                        background-color: #ffffff;
                        width: 100%;
                        // height: 100vw;
                        height: 568px;
                        margin-top:50px;
                        padding-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                       h1{
                           padding: 20px 0px;
                       }
                       
                       
                         img{
                            width: 340px;
                            height: 100vw;
                          
                        }
                       
                    }
                    .block2-box2{
                        // background-color: #e4e4e4;
                        width: 100%;
                        // height: 100vw;
                        height: 568px;
                        display: flex;
                        flex-direction: column;
                        justify-content:flex-start;
                        align-items: flex-start;
                        
                        //   padding:20px 30px 0 30px;
                      
                        img{
                            width: 340px;
                            height: 100vw;
                           
                        }
                         p{
                           padding:20px;
                          
                           
                        }
                        button{
                            width: 174px;
                            padding:10px;
                            margin:10px 0 20px 0px;
                            font-family: sans-serif;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 400px;
                            color:#3e3e3e;
                            
                        }
                    }
                }  
                // block 3 starts here
                .container-3{
                    // width: 100vw;
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                    
                    .block3-box1{
                        width: 100%;
                        height:360px;
                        background-color: #ffffff;
                       
                        display: flex;
                        flex-direction: column;
                     justify-content: flex-end;
                    align-items: flex-end;
                   
                    
                    text-align: right;
                    
                       
                       p{
                           width:300px;
                           font-size: 96px;
                           line-height: 106px;
                           font-weight: 300px;
                           font-family: sans-serif;
                           color:#111111;
                           padding-top:10px;
                           margin: 20px 20px 0 0;
                           
                       
                          
                          
                       }
    
                    }
               
                    .block3-box2{
                        background-color: #ffffff;
                        width: 100%;
                        height: 360px;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;
                       
                       
                        
    
                        p{
                            width: 340px;
                            // padding:0px 30px 20px 30px;
                            
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 400px;
                            font-family: sans-serif;
                            color:#111111;
                            padding-top:60px;
                        }
                        button{
                            width: 171px;
                            margin-top:10px;
                            padding:10px;
                            background-color: #db545a;
                            border: none;
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 700px;
                            font-family: sans-serif;
                            color:#ffffff;
                           
                            
                        }
                    }
                }
               
                // block 4 starts here
            .container-4{
                // width: 100vw;
                width: 100%;
                height: 100vw;
                background-color: #ffffff;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               flex-wrap: wrap;
             
               
               .underline{
                   width: 720px;
                  border-bottom: 5px solid black;
                 
                  
               }
              
               h2{
                   width: 682px;
                   font-size: 48px;
                   line-height: 77px;
                   font-style: normal;
                   font-weight: 400px;
                   font-family: sans-serif;
                   padding-top:30px;
                   color:#111111;
                }
               img{
                   height: 64px;
                   width: 64px;
                   margin:33px auto 0 auto;
               }
               h5{
                //    width: 100vw;
                   font-size: 20px;
                   line-height: 24px;
                   font-style: normal;
                   font-weight: 700px;
                   font-family: sans-serif;
                   color:#111111;
                 text-align: center;
                   
               }
            }
            .container-5{
                width: 100%;
                height:2089px;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                .image-container{
                    height: 367px;
                    width: 50%;
                    img{
                        height: 367px;
                        width: 100%;
                    }
                }
               
            }
            // block 6 starts here
            .container-6{
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
               
                .block6-box1{
                    width: 50%;
                    margin:0px 30px 0px 30px;
    
                }
                h2{
                    font-family: sans-serif;
                    font-size: 24px;
                    font-weight: 700px;
                    line-height: 26px;
                    font-style: normal;
                    color:#111111;
                    padding:10px;
                }
                p{
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 32px;
                    font-style: normal;
                    color:#111111;
                    padding:10px;
                }
                button{
                    width: 170px;
                    height: 46px;
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 400px;
                    line-height: 20px;
                    font-style: normal;
                    background-color: #db545a;
                    color:#ffffff;
                    border: none;
                }
    
                .block6-box2{
                    // width: 340px;
                    width: 50%;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 32px;
                    font-style: normal;
                    color:#111111;
                    margin:0px 30px 0px 30px;
                   
    
                }
    
    
            }
            .container-7{
                width:100vw;
                height: 318px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image:url(./img/mt.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
    
    
               .text{
                width:670px;
                p{
                    font-size: 20px;
                    font-weight: 400px;
                    font-family: sans-serif;
                    line-height: 32px;
                    font-style: normal;
                    color:#ffffff;
                    
                   
                }
               } 
               .social-media{
                   width: 320px;
                   display: flex;
                   flex-direction: row;
                   img{
                       width: 50px;
                       height: 50px;
                    border-radius: 100%;
                     margin: 10px;
                     background-color: #ffffff;
                    
                   }
                   .social-media:hover{
                       border: 1px solid blue;
                       background-color: red;
                   }
                  
    
               }
    
            }
        }
    }





@media (min-width: 769px) and (max-width: 1200px) {
    .main{
        background-color: #e4e4e4;
       
       
       
       
        .container-1{
            background-color:#ffffff;
             width: 100vw;
           
             
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             
            .profile-pic-box{
                width:100vw;
                
                // height:100vh;
                background-color:#f2f2f2;
                padding-top:50px;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
               
             
                img{
                    
                    width: 340PX;
                    height: 340px;
                    border-radius:100%;
                    border: 5px solid white;
                    margin-top:40px;
                }
            }
            .box-2{
                width:100%;
                display: flex;
                flex-direction: column;
               justify-content:center;
               align-items: center;
             
            //   padding:20px 40px 20px 40px;
                h1{
                 
                  width: 554px;
                    font-family:sans-serif;
                    font-size: 48px;
                    line-height: 53px;
                    font-weight: 700px;
                    color:#111111;  
                    padding:20px 0 20px 0px;
                   
                }
                p{
                    // width: 100vw;
                    width:543px;
                    font-family:sans-serif;
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 400px;
                    color:#111111;
                    
                    
                   
                    
                }
                button{
                    background-color: #ffffff;
                   
                    border: none;
                    font-family:sans-serif;
                    font-weight: 700px;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 700px;
                    color:#000000;
                    margin-top:20px;
                    border-bottom: 3px solid black;
                   
    
                }
                button:hover{
                   border: 1px solid blue;
                    
                }
            }
            }
            // block 2 starts here
            
                .container-2{
                    background-color: #ffffff;
                   
                    // width:100vw;
                    width: 100%;
                    height: 100vh;
                   
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    
                     padding-top:30px;
                    
                   
                    .block2-box1{
                        background-color: #ffffff;
                        width: 100%;
                        // height: 100vw;
                        height: 568px;
                        margin-top:50px;
                        padding-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                       h1{
                           padding: 20px 0px;
                           font-family: sans-serif;
                           font-size: 72px;
                           line-height: 79px;
                           font-weight: 700px;
                           color:#111111;
                       }
                       
                       
                         img{
                            width: 545px;
                            height: 100vw;
                          
                        }
                       
                    }
                    .block2-box2{
                        // background-color: #e4e4e4;
                        width: 100%;
                        // height: 100vw;
                        height: 568px;
                        display: flex;
                        flex-direction: column;
                        justify-content:flex-start;
                        align-items: flex-start;
                        
                        //   padding:20px 30px 0 30px;
                      
                        img{
                            width: 545px;
                            height: 100vw;
                           
                        }
                         p{
                           padding:20px;
                           font-family: sans-serif;
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 400px;
                            color:#111111;
                           
                           
                        }
                        button{
                            width: 174px;
                            padding:10px;
                            margin:10px 0 20px 0px;
                            font-family: sans-serif;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 400px;
                            color:#3e3e3e;
                            
                        }
                    }
                }  
                // block 3 starts here
                .container-3{
                    // width: 100vw;
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                   
                    margin-top:100px;
                    
                    .block3-box1{
                        width: 100%;
                        height:360px;
                        background-color: #ffffff;
                     
                        display: flex;
                        flex-direction: column;
                     justify-content: flex-end;
                    align-items: flex-end;
                   
                    
                    text-align: right;
                    
                       
                       p{
                           width:510px;
                           font-size: 130px;
                           line-height: 143px;
                           font-weight: 300px;
                           font-family: sans-serif;
                           color:#111111;
                           padding-top:10px;
                           margin: 20px 20px 0 0;
                           
                       
                          
                          
                       }
    
                    }
               
                    .block3-box2{
                        background-color: #ffffff;
                        width: 100%;
                        height: 360px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items:center;
                       
                       
                        
    
                        p{
                            width: 376px;
                            // padding:0px 30px 20px 30px;
                            
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 400px;
                            font-family: sans-serif;
                            color:#111111;
                            padding-top:60px;
                            
                        }
                        button{
                            width: 171px;
                            margin-top:30px;
                            padding:10px;
                            background-color: #db545a;
                            border: none;
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 700px;
                            font-family: sans-serif;
                            color:#ffffff;
                           
                            
                        }
                    }
                }
               
                // block 4 starts here
            .container-4{
               
                width: 100%;
                height: 100vh;
                background-color: #ffffff;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
            //    flex-wrap: wrap;
           
             
               
               .underline{
                   width: 795px;
                  border-bottom: 5px solid black;
                 
                  
               }
              
               h2{
                   width: 682px;
                   font-size: 48px;
                   line-height: 77px;
                   font-style: normal;
                   font-weight: 400px;
                   font-family: sans-serif;
                   padding-top:30px;
                   color:#111111;
                }
               img{
                   height: 64px;
                   width: 64px;
                   margin:33px auto 0 auto;
               }
               h5{
                //    width: 100vw;
               
                   font-size: 20px;
                   line-height: 24px;
                   font-style: normal;
                   font-weight: 700px;
                   font-family: sans-serif;
                   color:#111111;
                 text-align: center;
                   
               }
            }
            .container-5{
                width: 100%;
                height:1166;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                .image-container{
                    height: 367px;
                    width: 33.3%;
                    img{
                        height: 367px;
                        width: 100%;
                    }
                }
               
            }
            // block 6 starts here
            .container-6{
                width: 100vw;
                // height: 100vh;
                height: 602px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
               
                .block6-box1{
                    width: 50%;
                    margin:0px 30px 0px 30px;
    
                }
                h2{
                    font-family: sans-serif;
                    font-size: 36px;
                    font-weight: 700px;
                    line-height: 40px;
                    font-style: normal;
                    color:#111111;
                    padding:10px;
                }
                p{
                    width: 510px;
                    font-family: sans-serif;
                    font-size: 20px;
                    font-weight: 400px;
                    line-height: 32px;
                    font-style: normal;
                    color:#111111;
                    padding:10px;
                }
                button{
                    width: 170px;
                    height: 46px;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 26px;
                    font-style: normal;
                    background-color: #db545a;
                    color:#ffffff;
                    border: none;
                }
    
                .block6-box2{
                    // width: 340px;
                    width: 50%;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 32px;
                    font-style: normal;
                    color:#111111;
                    margin:0px 30px 0px 30px;
                   
    
                }
    
    
            }
            .container-7{
                width:100vw;
                height: 411px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image:url(./img/mt.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
    
    
               .text{
                width:670px;
                p{
                    font-size: 20px;
                    font-weight: 400px;
                    font-family: sans-serif;
                    line-height: 32px;
                    font-style: normal;
                    color:#ffffff;
                    
                   
                }
               } 
               .social-media{
                   width: 320px;
                   display: flex;
                   flex-direction: row;
                   img{
                       width: 50px;
                       height: 50px;
                    border-radius: 100%;
                     margin: 10px;
                     background-color: #ffffff;
                    
                   }
                   .social-media:hover{
                       border: 1px solid blue;
                       background-color: red;
                   }
                  
    
               }
    
            }
        }

}
@media (min-width: 1200px) {
    .main{
        background-color: #e4e4e4;
       
       
       
       
        .container-1{
            background-color:#ffffff;
             width: 100vw;
           
             
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             
            .profile-pic-box{
                width:100vw;
                
                // height:100vh;
                background-color:#f2f2f2;
                padding-top:50px;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
               
             
                img{
                    
                    width: 340PX;
                    height: 340px;
                    border-radius:100%;
                    border: 5px solid white;
                    margin-top:40px;
                }
            }
            .box-2{
                width:100%;
                display: flex;
                flex-direction: column;
               justify-content:center;
               align-items: center;
             
            //   padding:20px 40px 20px 40px;
                h1{
                 
                  width: 554px;
                    font-family:sans-serif;
                    font-size: 48px;
                    line-height: 53px;
                    font-weight: 700px;
                    color:#111111;  
                    padding:20px 0 20px 0px;
                   
                }
                p{
                    // width: 100vw;
                    width:543px;
                    font-family:sans-serif;
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 400px;
                    color:#111111;
                    
                    
                   
                    
                }
                button{
                    background-color: #ffffff;
                   
                    border: none;
                    font-family:sans-serif;
                    font-weight: 700px;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 700px;
                    color:#000000;
                    margin-top:20px;
                    border-bottom: 3px solid black;
                   
    
                }
                button:hover{
                   border: 1px solid blue;
                    
                }
            }
            }
            // block 2 starts here
            
                .container-2{
                    background-color: #ffffff;
                   
                    // width:100vw;
                    width: 100%;
                    height: 100vh;
                   
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    
                     padding-top:30px;
                    
                   
                    .block2-box1{
                        background-color: #ffffff;
                        width: 100%;
                        // height: 100vw;
                        height: 568px;
                        margin-top:50px;
                        padding-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                       h1{
                           padding: 20px 0px;
                           font-family: sans-serif;
                           font-size: 72px;
                           line-height: 79px;
                           font-weight: 700px;
                           color:#111111;
                       }
                       
                       
                         img{
                            width: 545px;
                            height: 100vw;
                          
                        }
                       
                    }
                    .block2-box2{
                        // background-color: #e4e4e4;
                        width: 100%;
                        // height: 100vw;
                        height: 568px;
                        display: flex;
                        flex-direction: column;
                        justify-content:flex-start;
                        align-items: flex-start;
                        
                        //   padding:20px 30px 0 30px;
                      
                        img{
                            width: 545px;
                            height: 100vw;
                           
                        }
                         p{
                           padding:20px;
                           font-family: sans-serif;
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 400px;
                            color:#111111;
                           
                           
                        }
                        button{
                            width: 174px;
                            padding:10px;
                            margin:0px 0 40px 0px;
                            font-family: sans-serif;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 400px;
                            color:#3e3e3e;
                            
                        }
                    }
                }  
                // block 3 starts here
                .container-3{
                    // width: 100vw;
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                   
                    margin-top:150px;
                    
                    .block3-box1{
                        width: 100%;
                        height:360px;
                        background-color: #ffffff;
                     
                        display: flex;
                        flex-direction: column;
                     justify-content: flex-end;
                    align-items: flex-end;
                   
                    
                    text-align: right;
                    
                       
                       p{
                           width:510px;
                           font-size: 130px;
                           line-height: 143px;
                           font-weight: 300px;
                           font-family: sans-serif;
                           color:#111111;
                           padding-top:10px;
                           margin: 20px 20px 0 0;
                           
                       
                          
                          
                       }
    
                    }
               
                    .block3-box2{
                        background-color: #ffffff;
                        width: 100%;
                        height: 360px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items:center;
                       
                       
                        
    
                        p{
                            width: 376px;
                            // padding:0px 30px 20px 30px;
                            
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 400px;
                            font-family: sans-serif;
                            color:#111111;
                            padding-top:60px;
                            
                        }
                        button{
                            width: 171px;
                            margin-top:30px;
                            padding:10px;
                            background-color: #db545a;
                            border: none;
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 700px;
                            font-family: sans-serif;
                            color:#ffffff;
                           
                            
                        }
                    }
                }
               
                // block 4 starts here
            .container-4{
               
                width: 100%;
                height: 100vh;
                background-color: #ffffff;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
            //    flex-wrap: wrap;
           
             
               
               .underline{
                   width: 795px;
                  border-bottom: 5px solid black;
                 
                  
               }
              
               h2{
                   width: 682px;
                   font-size: 48px;
                   line-height: 77px;
                   font-style: normal;
                   font-weight: 400px;
                   font-family: sans-serif;
                   padding-top:30px;
                   color:#111111;
                }
               img{
                   height: 64px;
                   width: 64px;
                   margin:33px auto 0 auto;
               }
               h5{
                //    width: 100vw;
               
                   font-size: 20px;
                   line-height: 24px;
                   font-style: normal;
                   font-weight: 700px;
                   font-family: sans-serif;
                   color:#111111;
                 text-align: center;
                   
               }
            }
            .container-5{
                width: 100%;
                height:1166;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                
                .image-container{
                    height: 367px;
                    width: 400px;

                    
                  
                    img{
                        height: 367px;
                        width: 100%;
                      
                    }
                }
               
            }
            // block 6 starts here
            .container-6{
                width: 100vw;
                height: 100vh;
                // height: 602px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
               
                .block6-box1{
                    width: 50%;
                    margin:0px 30px 0px 30px;
    
                }
                h2{
                    font-family: sans-serif;
                    font-size: 36px;
                    font-weight: 700px;
                    line-height: 40px;
                    font-style: normal;
                    color:#111111;
                    padding:10px;
                }
                p{
                    width: 510px;
                    font-family: sans-serif;
                    font-size: 20px;
                    font-weight: 400px;
                    line-height: 32px;
                    font-style: normal;
                    color:#111111;
                    padding:10px;
                }
                button{
                    width: 170px;
                    height: 46px;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 26px;
                    font-style: normal;
                    background-color: #db545a;
                    color:#ffffff;
                    border: none;
                }
    
                .block6-box2{
                    // width: 340px;
                    width: 50%;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 32px;
                    font-style: normal;
                    color:#111111;
                    margin:0px 30px 0px 30px;
                   
    
                }
    
    
            }
            .container-7{
                width:100vw;
                height: 411px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image:url(./img/mt.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
    
    
               .text{
                width:670px;
                p{
                    font-size: 20px;
                    font-weight: 400px;
                    font-family: sans-serif;
                    line-height: 32px;
                    font-style: normal;
                    color:#ffffff;
                    
                   
                }
               } 
               .social-media{
                   width: 320px;
                   display: flex;
                   flex-direction: row;
                   img{
                       width: 50px;
                       height: 50px;
                    border-radius: 100%;
                     margin: 10px;
                     background-color: #ffffff;
                    
                   }
                   .social-media:hover{
                       border: 1px solid blue;
                       background-color: red;
                   }
                  
    
               }
    
            }
        }

}
